@import url('https://fonts.googleapis.com/css2?family=Anek+Odia:wght@500&family=Oswald:wght@200;300;400;500;600;700&family=Roboto+Mono:wght@100&display=swap');

*{
  font-family: 'Roboto Mono', monospace;
}

body{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #000;
  background: linear-gradient(to right, #20404e,#529ab9, #20404e);
}